/* css for bio page internals */

div#bio-header {

  display: flex;

  h3#fellow-name {
    flex: 1;
    margin-bottom: 5px;
    margin-top: -10px;
    padding-bottom: 0px;
    font-size: 36px;
    font-style: italic;
  }

  a.x-button {
    margin-top: -18px;
    font-size: 40px;
    color: #a2988c;
    font-weight: 400;
  }

}

hr {
  border-style: solid;
  border-color: #a2988c;
  width: 100%;
  margin-top: 8px;
}

h4 {
  margin: 0px;
  color: #a2988c;
}    

h4#bio-tradition {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}


div#scrollable {

  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-left: 20px;
  padding-right: 20px;
 
  #textarea {

    div#portrait {
      width: 100%;
      height: 50vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h5#quotation {
      font-weight: 400;
      font-size: 16px;
      font-style: italic;
    }

  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
    p {
      font-style: italic;
      font-size: 15px;
      width: 100%;
    }
    div.video-container {
      padding:55.47% 0 0 0;
      position:relative;
      iframe {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
      }
    }
  }

}

div#bio-social {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  a:first-child {
    margin-right: 10px;
  }

}
