/* css for bio page internals */

div#bio-header {

  flex-shrink: 0;

  display: flex;
  padding-bottom: 5px;

  border-style: none;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #6c6555;

  h3#fellow-name {
    flex: 1;
    margin: 0px;
    color: #4a4339;    
    font-family: 'Tinos', sans-serif;
    font-size: 36px;
    font-weight: normal;
  }

  a.x-button {
    margin-top: -14px;
    height: 30px;
    font-size: 40px;
    color: #6c6555;
    font-weight: 400;
  }

}

h4 {
  padding-left: 20px;
  margin: 0px;
  color: #6c6555;

  &#bio-tradition {
    color: black;
  }

}    


div#scrollable {

  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-left: 20px;
  padding-right: 20px;
 
  #textarea {

    img#portrait {
      width: 100%;
      height: auto;
    }

    h5#quotation {
      color: #4a4339;
      font-family: 'Tinos', sans-serif;
      font-weight: normal;
      font-size: 20px;
      font-style: italic;
    }

  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
    p {
      font-style: italic;
      font-size: 15px;
      width: 100%;
    }
    div.video-container {
      padding:55.47% 0 0 0;
      position:relative;
      iframe {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
      }
    }
  }

}

div#bio-social {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  a:first-child {
    margin-right: 10px;
  }

}
