/* css for list internals */

li {

  padding: 7px;
  cursor: pointer;
  display: flex;

  &#{$LISTITEM-CLASS-ACTIVE} {
    background-color: #{$COLOR-ITEM-CLICK};
  }

  div.thumb {
    width: 90px;
    height: 90px;
    background-image: url("../resources/no-image.gif");
    background-position: center;
    background-size: cover;
    margin-right: 8px;
    flex-shrink: 0;
  }

  div.info {
    font-size: 13px;
    div:nth-child(1) {
      font-weight: bold;
      font-size: 14px;
    }        
    div:nth-child(3) {
      font-weight: bold;
    }        
  }

}

#{$GLOBAL-CLASS-HOVER} & {
  li:hover {
      background-color: #{$COLOR-ITEM-MOUSEOVER};
      &#{$LISTITEM-CLASS-ACTIVE} {
        background-color: #{$COLOR-ITEM-CLICK};
      }
  }
}

