html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column; }

/* hides adobe analytics white stripe */
div.adsbox {
  display: none; }

a {
  cursor: pointer; }

.banner {
  background-color: #404040;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .banner {
      padding: 5px; } }
  .banner a#logo {
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 7px; }
    .banner a#logo img {
      max-height: 50px; }
  .banner a#title {
    /* to do: this should be an h3 or something, shouldn't it? */
    color: white;
    flex-grow: 1;
    margin-top: -2;
    margin-right: 10px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .intro .banner a#title {
      left: 0px;
      visibility: hidden; }
    @media (max-width: 500px) {
      .banner a#title {
        display: none; } }
  .banner .social-button-bar {
    display: flex;
    align-items: center;
    color: #b3a7a9;
    cursor: pointer; }
    .banner .social-button-bar * {
      margin-right: 10px; }
    .banner .social-button-bar .story-map-link {
      margin-right: 15px; }
  .banner .social-button-bar {
    flex-shrink: 0;
    color: white; }
    .banner .social-button-bar a.story-map-link {
      color: white;
      text-decoration: none; }

.banner {
  flex-shrink: 0; }

#container {
  flex-grow: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: wheat; }
  #container #map {
    background-color: #232227;
    flex-grow: 1; }
    #container #map .easy-button-button {
      font-size: 18px;
      cursor: pointer; }
  #container #list-container {
    position: absolute;
    width: 40%;
    max-width: 500px;
    min-width: 450px;
    max-height: calc(100% - 60px);
    right: 20px;
    top: 20px;
    z-index: 1000;
    color: #f9f9f9;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px; }
    .mobile #container #list-container {
      top: initial;
      bottom: 0px;
      right: initial;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 100%;
      max-width: none;
      min-width: initial;
      max-height: 40%; }
    #container #list-container a.clear-filter {
      font-size: 30px; }
    #container #list-container a.clear-filter:before {
      content: "\00d7"; }
    #container #list-container #search {
      padding: 10px;
      height: 60px;
      display: flex; }
      .state-filter-location #container #list-container #search {
        display: none; }
      #container #list-container #search input {
        background-color: #505050;
        font-weight: bold;
        color: #bbbbbb;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-style: solid;
        border-color: gray;
        padding-left: 5px;
        font-size: 16px;
        color: #5ea7e6; }
      #container #list-container #search a.clear-filter {
        margin-left: -30px;
        color: #5ea7e6;
        visibility: hidden; }
        .state-filter-text #container #list-container #search a.clear-filter {
          visibility: visible; }
    #container #list-container .filter-display-location {
      /* note: for some reason, toggling the display
         causes flexbox to behave all wonky, so I'm 
         having to use a combination of padding and visibility
         to get the effect */
      font-size: 18px;
      font-weight: bold;
      display: none;
      padding: 5px;
      padding-right: 10px; }
      .mobile #container #list-container .filter-display-location {
        font-size: 16px; }
      .state-filter-location #container #list-container .filter-display-location {
        display: flex;
        color: #5ea7e6; }
      #container #list-container .filter-display-location div.filter-text {
        width: 100%;
        padding-left: 10px;
        padding-top: 8px;
        color: #bbbbbb; }
        .state-filter-location #container #list-container .filter-display-location div.filter-text {
          color: #5ea7e6; }
      #container #list-container .filter-display-location a.clear-filter {
        margin-left: -30px;
        margin-top: 3px;
        visibility: hidden;
        color: #5ea7e6; }
        .state-filter-location #container #list-container .filter-display-location a.clear-filter {
          visibility: visible; }
    #container #list-container #list {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      list-style-type: none;
      -webkit-margin-before: 0px;
      -webkit-margin-after: 0px;
      -webkit-margin-start: 15px;
      -webkit-margin-end: 15px;
      -webkit-padding-start: 0px;
      -moz-margin-start: 0px;
      -moz-margin-end: 0px;
      -moz-padding-start: 15px;
      -moz-padding-end: 15px; }
      .mobile #container #list-container #list {
        -webkit-transition: height 1s;
        /* For Safari 3.1 to 6.0 */
        transition: height 1s; }
      #container #list-container #list li {
        padding: 7px;
        border-style: solid;
        border-color: #777777;
        border-width: 0px;
        border-bottom-width: 2px;
        cursor: pointer; }
        #container #list-container #list li.active {
          background-color: #7f7f7f; }

/*# sourceMappingURL=main.css.map */
