$COLOR-ITEM-HOVER: "#e0cbb1";
$COLOR-ITEM-FOCUS: "#c8b9a6";

#list {

  list-style-type: none;   
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;

  li {

    padding: 7px;
    cursor: pointer;
    display: flex;

      
    #{$GLOBAL-CLASS-HOVER} & {
      &:hover {
          background-color: #{$COLOR-ITEM-HOVER};
      }
    }
    
    &:focus {
      outline: none;
      background-color: #{$COLOR-ITEM-FOCUS}!important;
    }

    div.thumb {
      width: 90px;
      height: 90px;
      background-image: url("../resources/no-image.gif");
      background-position: center;
      background-size: cover;
      background-color: rgba(117, 138, 163, 0.4);
      margin-right: 8px;
      flex-shrink: 0;
    }

    div.info {
      font-size: 13px;
      div:nth-child(1) {
        font-weight: bold;
        font-size: 16px;
      }        
      div:nth-child(3) {
        font-weight: bold;
      }        
    }

  }

}



