$threshold-width-medium: 1000px;
$threshold-width-small: 800px;

html {
	box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  color: rgba(56, 52, 43, 1);
  background-color: rgba(253, 238, 195, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* hides adobe analytics white stripe */

div.adsbox {
  display: none;
}

a {
  cursor: pointer;
}

div#banner {
  
  position: fixed;
  display: none;
  top: 0px;
  flex-shrink: 0;
  height: 60px;
  background-color: #287b89;
  width: 100%;
  
  h1 {
    text-align: left;
    flex-grow: 1;
    font-size: 34px;
    margin: 10px;
    margin-left: 15px;
    color: rgba(253, 238, 195, 1);
    @media (max-width: #{$threshold-width-small})  {
      font-size: 22px;
      margin: 17px;
    }
  }
  
  a {
    color: rgba(253, 238, 195, 1);
    text-decoration: none;
    margin: 10px;
    border: solid;
    border-width: thin;
    font-weight: 400;
    padding: 10px;
    padding-top: 7px;
  }
  
}

h1 {
  
  color: rgba(40, 123, 137, 1);
  font-family: 'Tinos', sans-serif;
  font-weight: 300;
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 70px;
  text-align: center;
  line-height: 1.1;

  @media (max-width: #{$threshold-width-medium})  {
    font-size: 70px;
  }

  @media (max-width: #{$threshold-width-small})  {
    font-size: 40px;
    margin-top: 35px;
  }

}

hr {
  width: 400px;
  color: rgba(40, 123, 137, 1);
  border-top: solid;
  border-top-width: 2px;
  @media (max-width: #{$threshold-width-small})  {
    width: 200px;
  }
}

h2 {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  margin-top: 15px;
  line-height: 1;

  @media (max-width: #{$threshold-width-small})  {
    max-width: 85%;
    font-size: 26px;
  }

}

h3 {
  font-weight: 300;
  font-size: 24px;
  font-family: 'Tinos', sans-serif;
  text-align: center;
  max-width: 650px;
  color: #4d4537;
  line-height: 1;
  margin-bottom: 5px;

  @media (max-width: #{$threshold-width-small})  {
    max-width: 90%;
    font-size: 20px;
  }

}

h4 {
  margin-top: 5px;
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
}

ul#pictures {

  margin-right: 50px;
  margin-left: 50px;
  flex-shrink: 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  li {
    width: 120px;
    height: 120px;
    margin: 3px;
    border:solid;
    border-width: 1px;
    background-position: center;
    background-size: cover;

    @media (max-width: #{$threshold-width-small})  {
      width: 100px;
      height: 100px;
    }

  }

}

a#enter {
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(40, 123, 137, 1);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {background-color: rgba(40, 150, 150, 0.8);}
  &:visited {color: lightgray}
}

p:nth-of-type(1) {
  max-width: 600px;
  text-align: center;
  font-weight: 400;

  @media (max-width: #{$threshold-width-small})  {
    max-width: 90%;
  }

}

p:nth-of-type(2) {
  max-width: 700px;
  font-weight: 400;
  @media (max-width: #{$threshold-width-small})  {
    max-width: 90%;
  }
  margin-bottom: 5vh;
}

ul#logos {

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

  li {

    margin: 10px;

    @media (max-width: #{$threshold-width-small})  {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    a {
      height: 100px;
      width: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    &:nth-of-type(1) a {
      background-image: url("../resources/logo-nea.jpg");
    }

    &:nth-of-type(2) a {
      background-image: url("../resources/logo-folklife.png");
    }      
    
    &:nth-of-type(3) a {
      height: 70px;
      background-image: url("../resources/logo-esri-black.png");
    }
    
  }

}

a#arrow {
  display: none; /* will be shown programmatically */
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(40, 123, 137, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  position: fixed;
  bottom: 15px;
  background-image: url("../resources/arrow-down.png");
  &:hover {background-color: rgba(40, 150, 150, 0.8);}
  transition: opacity 600ms, visibility 600ms;
}