<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <rewrite>
            <outboundRules>
                <rule name="Insert Live Reload Script" preCondition="IsHTML" patternSyntax="ExactMatch">
                    <match filterByTags="None" pattern="&lt;/body>" />
                    <action type="Rewrite" value="&lt;/body>&lt;script src='http://localhost:35729/livereload.js'>&lt;/script>" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
